---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

const mobilePic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683213/undraw_mobile_posts_re_bpuw_sdmwgr.svg"
const crmPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683217/undraw_people_search_re_5rre_wm0njl.svg"
const corpPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683206/undraw_building_websites_i78t_nehbtg.svg"
const landingPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683212/undraw_mobile_development_re_wwsn_ybytko.svg"
const ecommercePic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683221/undraw_web_shopping_re_owap_hv34cv.svg"
const ideaPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683209/undraw_lightbulb_moment_re_ulyo_uhgt43.svg"
---


<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title>Qué servicios ofrecemos?</Title>
      <!-- <Paragraph>
        Cuando se decide crear un sitio web, es común que el cliente no tenga
        una visión clara de lo que necesita y por dónde empezar. Por lo tanto,
        es esencial organizar reuniones entre el cliente y los desarrolladores
        para comprender la idea correctamente. Esto ahorra tiempo, recursos y
        dinero.
      </Paragraph> -->
      <Paragraph>
        Nuestro enfoque incluye el <b>diseño responsivo</b> para garantizar que
        el sitio sea accesible en cualquier dispositivo. Creamos sitios <b>modernos
        y creativos</b>, trabajando en estrecha colaboración con el cliente, serás parte de las decisiones fundamentales de tu proyecto.<br> Además, alojamos los sitios en <b>servidores confiables</b> con disponibilidad continua. Gestionamos todos los aspectos necesarios para poner el sitio en línea lo más rápido posible, optimizando la velocidad de carga, el rendimiento general y el posicionamiento en los motores de búsqueda.
      </Paragraph>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      <Service
        title="Landing Page"
        description="Página web diseñada con el objetivo de convertir visitantes en clientes potenciales de un producto o servicio mediante una oferta clara y específica."
      >
        <span slot="icon">
          <img src={landingPic} width={80} height={80} alt="Landing icon" />

            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title="Páginas Corporativas"
        description="El éxito de tu empresa se verá impulsado al tener presencia en Internet en una plataforma propia que sirva como carta de presentación para los visitantes comunicándoles información relevante y reflejando la esencia de la empresa."
      >
        <span slot="icon">
          <img src={corpPic} width={80} height={80} alt="Corp icon" />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title="E-Commerce"
        description="Sitios web diseñados para la venta de productos o servicios en línea. Permiten a las empresas mostrar sus productos, procesar pagos y facilitar compras por Internet. Pasarás a tener millones de clientes potenciales."
      >
        <span slot="icon">
          <img src={ecommercePic} width={80} height={80} alt="Ecommerce icon" />
          
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title="CRM"
        description="Herramienta que tiene como función principal ayudar a las empresas a centralizar, organizar y administrar toda la información de sus clientes. También a organizar las actividades que deben cumplir con los mismos y recopilar información estadística."
      >
        <span slot="icon">
          <img src={crmPic} width={70} height={70} alt="CRM icon" />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title="Aplicaciones Móviles"
        description="Son programas diseñados para smartphones y tablets donde puedes ofrecer diversas funciones y servicios. Se pueden descargar para que el usuario acceda directamente desde sus dispositivos móviles."
      >
        <span slot="icon">
          <img src={mobilePic} width={80} height={80} alt="mobile icon" />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title="Proyectos Personalizados"
        description="Si la idea que tienes en mente no cuadra con las opciones anteriores, te invitamos a que nos contactes para asesorarte de manera personalizada y juntos podamos transformar tu idea en una realidad digital."
      >
        <span slot="icon">
          <img src={ideaPic} width={70} height={70} alt="Idea icon" />
          
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
    </div>
  </Container>
</section>
