---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

const mobilePic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683213/undraw_mobile_posts_re_bpuw_sdmwgr.svg"
const crmPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683217/undraw_people_search_re_5rre_wm0njl.svg"
const corpPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683206/undraw_building_websites_i78t_nehbtg.svg"
const landingPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683212/undraw_mobile_development_re_wwsn_ybytko.svg"
const ecommercePic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683221/undraw_web_shopping_re_owap_hv34cv.svg"
const ideaPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683209/undraw_lightbulb_moment_re_ulyo_uhgt43.svg"
---


<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <div class=" max-w-3xl  space-y-4 ml-4 lg:text-left text-center">
      <p class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl"><b>Servicios</b> y <b>Soluciones</b> para tu Negocio </p>
      <!-- <Paragraph>
        Cuando se decide crear un sitio web, es común que el cliente no tenga
        una visión clara de lo que necesita y por dónde empezar. Por lo tanto,
        es esencial organizar reuniones entre el cliente y los desarrolladores
        para comprender la idea correctamente. Esto ahorra tiempo, recursos y
        dinero.
      </Paragraph> -->
    
      
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      <Service
        title="Landing Page"
        description="Convierte visitantes en clientes potenciales de tu producto o servicio mediante una oferta clara y específica."
      >
        <span slot="icon">
          <img src={landingPic} width={80} height={80} alt="Landing Page" />

            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title="Páginas Corporativas"
        description="Destaca tu empresa en Internet y brinda información relevante a los visitantes mediante una plataforma propia que refleje su esencia."
      >
        <span slot="icon">
          <img src={corpPic} width={80} height={80} alt="Web corporativa" />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title="Comercio Electrónico"
        description="Aumenta las ventas de tu negocio ofreciendo tus productos/servicios a millones de potenciales compradores."
      >
        <span slot="icon">
          <img src={ecommercePic} width={80} height={80} alt="Comercio electronico" />
          
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title="CRM"
        description="Centraliza, organiza, administra y visualiza toda la información y actividades de tus clientes en un solo lugar."
      >
        <span slot="icon">
          <img src={crmPic} width={70} height={70} alt="CRM" />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title="Aplicaciones Móviles"
        description="Implementa diversas funciones o servicios para gestiones propias y/o para usuarios-clientes, tanto en Android como en iOS."
      >
        <span slot="icon">
          <img src={mobilePic} width={80} height={80} alt="Aplicacion movil" />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title="Proyectos Personalizados"
        description="Tu idea no cuadra con las opciones anteriores? No te preocupes! Contáctanos para asesorarte de manera personalizada."
      >
        <span slot="icon">
          <img src={ideaPic} width={70} height={70} alt="Proyecto personalizado" />
          
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
        </span>
      </Service>
    </div>
    
    <article class="bg-gray-200 rounded-2xl lg:px-4 lg:py-10 px-2 py-4 dark:bg-gray-900">
    <p class="lg:ml-10 text-center font-semibold text-heading-1 text-xl">Trabajando con nosotros obtienes:</p>
    <ul class="lg:grid lg:grid-cols-3 mx-auto w-full lg:w-[95%] gap-2 mt-8 text-heading-3 dark:text-white">
      <li>
          <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>Las mejores prácticas de SEO
      </li>
      <li class="mt-2">
        <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>Alojamiento en servidores confiables
    </li>
      
      <li class="mt-2">
          <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>Accesibilidad en cualquier dispositivo 
      </li>
      <li class="mt-2">
        <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>Optimización de contenido
    </li>
    <li class="mt-2">
      <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>Excelente experiencia al usuario
  </li>
      
    <li class="mt-2">
      <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>Asesoramiento en politicas de privacidad
  </li>
    
    
  </ul>
    
</article>

    
  </Container>
</section>
