---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
const ivanPhoto = "/images/ivan-profile.jpg";
const crisPhoto = "/images/cris-profile.png";
const daniPhoto = "/images/daniela-removebg-preview.png";
const facebookIcon = "/images/icons8-facebook-96.png";
const linkedinIcon = "/images/icons8-linkedin-96.png";
const instagramIcon = "images/icons8-instagram-96.png";
---

<section id="about" class="relative pt-10 lg:mb-10">
  <Container className="flex flex-col h-auto ">
    <div class="w-full text-center justify-center">
      <Title>Nuestro equipo</Title>
    </div>
    <div
      class="w-full h-[100%] grid grid-rows-2 grid-cols-2 lg:grid-rows-1 lg:grid-cols-4 gap-4 mt-8"
    >
      <div
        class="h-fit flex flex-col pb-5 justify-start items-center gap-2 sm:gap-4 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
      >
        <img
          class="w-full h-40 sm:h-80 object-cover transition-transform duration-300 transform hover:scale-110"
          src={crisPhoto}
          alt="cristian-molina"
        />
        <div
          class="flex flex-col justify-start items-center gap-2 self-stretch"
        >
          <h2 class="md:text-xl font-semibold text-heading-2 text-center h-12">
            Cristian Molina
          </h2>
          <Paragraph className="text-xs text-center"
            >Fullstack Web Developer & Co-founder</Paragraph
          >
        </div>
        <div class="w-full grid grid-cols-3 gap-0 justify-items-center">
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={linkedinIcon} class="w-full h-full" alt="linkedin" />
          </a>
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={instagramIcon} class="w-full h-full" alt="instagram" />
          </a>
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={facebookIcon} class="w-full h-full" alt="facebook" />
          </a>
        </div>
      </div>
      <div
        class="h-fit flex flex-col pb-5 justify-start items-center gap-2 sm:gap-4 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
      >
        <img
          class="w-full h-40 sm:h-80 object-cover transition-transform duration-300 transform hover:scale-110"
          src={ivanPhoto}
          alt="ivan-trejo"
        />
        <div
          class="flex flex-col justify-start items-center gap-2 self-stretch"
        >
          <h2 class="md:text-xl font-semibold text-heading-2 text-center h-12">
            Iván Trejo
          </h2>
          <Paragraph className="text-xs text-center"
            >Fullstack Web Developer & Co-founder</Paragraph
          >
        </div>
        <div class="w-full grid grid-cols-3 gap-0 justify-items-center">
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={linkedinIcon} class="w-full h-full" alt="linkedin" />
          </a>
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={instagramIcon} class="w-full h-full" alt="instagram" />
          </a>
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={facebookIcon} class="w-full h-full" alt="facebook" />
          </a>
        </div>
      </div>
      <div
        class="h-fit flex flex-col pb-5 justify-start items-center gap-2 sm:gap-4 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
      >
        <img
          class="w-full h-40 sm:h-80 object-cover transition-transform duration-300 transform hover:scale-110"
          src={crisPhoto}
          alt="german-montenegro"
        />
        <div
          class="flex flex-col justify-start items-center gap-2 self-stretch"
        >
          <h2 class="md:text-xl font-semibold text-heading-2 text-center h-12">
            Germán Montenegro
          </h2>
          <Paragraph className="text-xs text-center"
            >Fullstack Web Developer & Co-founder</Paragraph
          >
        </div>
        <div class="w-full grid grid-cols-3 gap-0 justify-items-center">
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={linkedinIcon} class="w-full h-full" alt="linkedin" />
          </a>
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={instagramIcon} class="w-full h-full" alt="instagram" />
          </a>
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={facebookIcon} class="w-full h-full" alt="facebook" />
          </a>
        </div>
      </div>
      <div
        class="h-fit flex flex-col pb-5 justify-start items-center gap-2 sm:gap-4 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
      >
        <img
          class="w-full h-40 sm:h-80 object-cover object-right-top transition-transform duration-300 transform hover:scale-110"
          src={daniPhoto}
          alt="cristian-molina"
        />
        <div
          class="flex flex-col justify-start items-center gap-2 self-stretch"
        >
          <h2 class="md:text-xl font-semibold text-heading-2 text-center h-12">
            Daniela Quintero
          </h2>
          <Paragraph className="text-xs text-center"
            >Q&A Tester - Social Media Specialist</Paragraph
          >
        </div>
        <div class="w-full grid grid-cols-3 gap-0 justify-items-center">
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={linkedinIcon} class="w-full h-full" alt="linkedin" />
          </a>
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={instagramIcon} class="w-full h-full" alt="instagram" />
          </a>
          <a
            href="#"
            class="flex items-center justify-center rounded-3xl w-8 h-8 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110"
          >
            <img src={facebookIcon} class="w-full h-full" alt="facebook" />
          </a>
        </div>
      </div>
    </div>
  </Container>
</section>
