---
import Container from '../shared/Container.astro'
import Paragraph from '../shared/Paragraph.astro'
import Title from '../shared/Title.astro'
const ivanPhoto = 'https://res.cloudinary.com/dxsosgojl/image/upload/v1730979463/ivan-profile_idv7hx.jpg'
const crisPhoto = 'https://res.cloudinary.com/dxsosgojl/image/upload/v1730979452/cris-profile_gdfktz.png'
const daniPhoto = 'https://res.cloudinary.com/dxsosgojl/image/upload/v1730979443/daniela-removebg-preview_p5n4o5.png'
const facebookIcon = 'https://res.cloudinary.com/dxsosgojl/image/upload/v1730982663/icons8-facebook-96_gf2jdn.png'
const linkedinIcon = 'https://res.cloudinary.com/dxsosgojl/image/upload/v1730982662/icons8-linkedin-96_tpshp2.png'
const instagramIcon = 'https://res.cloudinary.com/dxsosgojl/image/upload/v1730982663/icons8-instagram-96_e0ssgh.png'

const employees = [
  {
    id: 1,
    name: 'Iván Trejo',
    position: 'Fullstack developer & Founder',
    image: ivanPhoto,
    instagramUrl: 'https://www.instagram.com/ivantrejoc/',
    facebookUrl: 'https://www.facebook.com/ivantrejoc/',
    linkedinUrl: 'https://www.linkedin.com/in/ivanjtrejoc/'
  },
  {
    id: 2,
    name: 'Crisitian Molina',
    position: 'Fullstack developer & Founder',
    image: crisPhoto,
    instagramUrl: 'https://www.instagram.com/cristianmolina84',
    facebookUrl:
      'https://www.facebook.com/people/Cristian-Molina/pfbid02XXCpGBunbFmko3ZHYqaFUJRdV9SH6v9uwVZJFStmwsfBRxhSTBJVahK6myEsYsiZl/?rdid=u4Z33U94YP7d004G&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F6uV6w3q3wfW8xcUV%2F',
    linkedinUrl: 'https://www.linkedin.com/in/cristiandavidmolina/'
  },
  {
    id: 3,
    name: 'Erika Daniela Quintero',
    position: 'Q&A Tester - Social Media Specialist',
    image: daniPhoto,
    instagramUrl: 'https://www.instagram.com/daniquin29',
    facebookUrl: 'https://www.facebook.com/daniela.quintero1',
    linkedinUrl: 'http://www.linkedin.com/in/danielaquintero2903'
  }
]
---

<section id='about' class='relative pt-10 lg:mb-10'>
  <Container className='flex flex-col h-auto '>
    <div class='w-full text-center justify-center'>
      <Title>Nuestro equipo</Title>
    </div>
    <div
      class='w-full h-full flex flex-col md:grid md:grid-cols-3 md:grid-rows-1 gap-4 mt-8'
    >
      {
        employees?.map((employee) => (
          <div class='h-full flex flex-col pb-5 justify-start items-center gap-2 sm:gap-4 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden'>
            <img
              class='w-full h-72 sm:h-96 object-cover object-top transition-transform duration-300 transform hover:scale-110'
              src={employee.image}
              alt={employee.image}
            />
            <div class='flex flex-col justify-start items-center gap-2 self-stretch mb-2'>
              <h2 class='md:text-xl font-semibold text-heading-2 text-center sm:h-8 md:h-16 lg:h-8'>
                {employee.name}
              </h2>
              <Paragraph className='text-xs text-center md:h-16 lg:h-auto'>
                {employee.position}
              </Paragraph>
            </div>
            <div class='w-full flex justify-around justify-items-center'>
              <a
                href={employee.linkedinUrl}
                target='_blank'
                rel='noopener noreferrer'
                class='flex items-center justify-center rounded-3xl w-10 h-10 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110'
              >
                <img src={linkedinIcon} class='w-full h-full' alt='linkedin' />
              </a>
              <a
                href={employee.instagramUrl}
                target='_blank'
                rel='noopener noreferrer'
                class='flex items-center justify-center rounded-3xl w-10 h-10 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110'
              >
                <img
                  src={instagramIcon}
                  class='w-full h-full'
                  alt='instagram'
                />
              </a>
              <a
                href={employee.facebookUrl}
                target='_blank'
                rel='noopener noreferrer'
                class='flex items-center justify-center rounded-3xl w-10 h-10 sm:w-12 sm:h-12 lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-1 text-heading-1 relative transition-transform duration-300 transform hover:scale-110'
              >
                <img src={facebookIcon} class='w-full h-full' alt='facebook' />
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</section>
