---
import Service from "../components/cards/Service.astro";
import Container from "../components/shared/Container.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Title from "../components/shared/Title.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/shared/Button.astro";

const wordpressIcon = "/images/icons8-wordpress-96.png";
const woocommerceIcon = "/images/icons8-woocommerce-96.png";
const codingIcon = "/images/icons8-laptop-coding-96.png";
const mobileIcon = "/images/icons8-iphone-14-96.png";
const supportIcon = "/images/icons8-support-96.png";
const fullstackIcon = "/images/icons8-stack-96.png";
---

//flex flex-col gap-y-20 md:gap-y-32 overflow-hidden
<Layout title="WebWizard Lab | Agencia de desarrollo web - Servicios">
  <section id="planes">
    <Container className="space-y-10 md:sapce-y-12 ">
      <div class="text-left max-w-[3/4] mx-auto">
        <div class="my-[12px] lg:ml-4 lg:text-left text-center">
          <p
            class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl"
          >
            Conoce nuestros <b>Planes</b>
          </p>
        </div>
      </div>
      
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
        <div
          class="p-5 h-full sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
        >
          <div class="p-2 text-heading-1 flex justify-center">
            <img src={wordpressIcon} alt="WordPress Icon" class="w-8 h-8 mr-2" />
            <h2 class="md:text-lg font-bold text-heading-2 mb-2">Sitios Web</h2>
          </div>

          <div>
            <Paragraph className="text-left h-1/6 p-2 mb-3 text-heading-2">
              Optimiza el resultado de tus campañas publicitarias con una
              Landing Page profesional.
            </Paragraph>
            <Paragraph className="h-3/5 mt-3">
              - 1 cuenta de correo corporativo<br />
              - Diseño profesional, moderno y llamativo<br />
              - Banner principal con movimiento<br />
              - Redacción de textos persuasivos<br />
              - Búsqueda y compra de imágenes<br />
              - Banner de testimonios<br />
              - Formulario para captura de Leads<br />
              - Botón de WhatsApp y de llamada<br />
              - Integración con redes sociales<br />
              - Integración con Google Analytics<br />
              - Diseño ideal para Google Ads<br />
              - Contenido 100% editable<br />
              - 1 reunión de diseño de la página web<br />
              - 1 reunión de capacitación de uso del sitio
            </Paragraph>
          </div>

          <div class="text-center mt-6">
            <Paragraph className="text-center p-2">
              <b>Sin pago de mensualidad por administración</b>
            </Paragraph>
            <div class="mt-4">
              <Button variant={"primary"}>
                <a
                  href="/contact"
                  class="text-white font-semibold relative z-[5]"
                  >Quiero consultar</a
                >
              </Button>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div
          class="p-5 h-full sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
        >
          <div class="p-2 text-heading-1 flex justify-center">
            <img src={codingIcon} alt="WordPress Icon" class="w-8 h-8 mr-2" />
            <h2 class="md:text-lg font-bold text-heading-2 mb-2">
              Aplicaciones Web
            </h2>
          </div>

          <div>
            <Paragraph className="h-1/6 pb-3 p-2 text-left text-heading-2">
              Muestra tus servicios y/o productos con tus formas de contacto.
            </Paragraph>
            <Paragraph className="h-3/5 mt-3">
              - 2 cuentas de correo corporativo<br />
              - 3 filtrados principales<br />
              - Configuración inicial de 20 unidades, <b
                >luego puedes cargar todos los que quieras</b
              ><br />
              - Integración de la página web a redes sociales<br />
              - Perfil de usuario y perfil de administrador (<b
                >máximo 2 vistas de usuario y 2 vistas de admin</b
              >)<br />
              - Contenido 100% editable<br />
              - Diseño ideal para Google Ads<br />
              - 2 reuniones de diseño de la página web<br />
              - 1 reunión de capacitación de uso del sitio
            </Paragraph>
          </div>

          <div class="text-center mt-20">
            <Paragraph className="text-center p-2">
              <b>Sin pago de mensualidad por administración</b>
            </Paragraph>
            <div class="mt-4">
              <Button variant={"primary"}>
                <a
                  href="/contact"
                  class="text-white font-semibold relative z-[5]"
                  >Quiero consultar</a
                >
              </Button>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div
          class="h-full p-3 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
        >
          <div class="p-2 text-heading-1 flex justify-center">
            <img src={woocommerceIcon} alt="WordPress Icon" class="w-8 h-8 mr-2" />
            <h2 class="md:text-lg font-bold text-heading-2 mb-2">E-commerce</h2>
          </div>
          <div>
            <Paragraph className="text-left h-15/100 pb-3 p-2 text-heading-2">
              Una tienda completa con carro de compras, pasarela de pago y
              métodos de envio.
            </Paragraph>
            <Paragraph className="h-3/5 mt-3">
              - 5 cuentas de correo corporativo<br />
              - Carro de compras<br />
              - Pasarela de pago a elección<br />
              - Gestión de stock y ventas<br />
              - 5 filtrados principales, puedes agregar filtros adicionales por solo
              USD 9.99 c/u<br />
              - Configuración inicial de 20 unidades, <b
                >luego puedes cargar todos los que quieras</b
              ><br />
              - Perfil de usuario, perfil de administrador (<b
                >máximo 5 vistas de usuario y 2 vistas de admin</b
              >)<br />
              - Integración de la página web a redes sociales<br />
              - Contenido 100% editable<br />
              - 2 reuniones de diseño de la página web<br />
              - 1 reunión de capacitación de uso del sitio
            </Paragraph>
          </div>

          <div class="text-center mt-5">
            <Paragraph className="text-center p-2">
              <b>Sin pago de mensualidad por administración</b>
            </Paragraph>
            <div class="mt-4">
              <Button variant={"primary"}>
                <a
                  href="/contact"
                  class="text-white font-semibold relative z-[5]"
                  >Quiero consultar</a
                >
              </Button>
            </div>
          </div>
        </div>
        <!-- Card 4 -->
        <div
          class="h-full p-3 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
        >
          <div class="p-2 text-heading-1 flex justify-center">
            <img src={mobileIcon} alt="WordPress Icon" class="w-8 h-8 mr-2" />
            <h2 class="md:text-lg font-bold text-heading-2 mb-2">
              Aplicaciones Moviles
            </h2>
          </div>
          <div>
            <Paragraph className="text-left h-1/6 pb-3 p-2 text-heading-2">
              Presenta tus servicios y/o productos con tus formas de contacto.
              Además, cuenta con una agenda en línea donde tus clientes podrán
              reservar su cita.
            </Paragraph>
            <Paragraph className="h-3/5 mt-3">
              - 2 cuentas de correo corporativo<br />
              - Configuración inicial de 20 unidades, <b
                >luego puedes cargar todos los que quieras</b
              ><br />
              - Integración de la página web a redes sociales<br />
              - Contenido 100% editable<br />
              - 2 reunión de diseño de la página web<br />
              - 1 reunión de capacitación de uso de la página web
            </Paragraph>
          </div>

          <div class="text-center mt-56">
            <Paragraph className="text-center p-2">
              <b>Sin pago de mensualidad por administración</b>
            </Paragraph>
            <div class="mt-4">
              <Button variant={"primary"}>
                <a
                  href="/contact"
                  class="text-white font-semibold relative z-[5]"
                  >Quiero consultar</a
                >
              </Button>
            </div>
          </div>
        </div>
        <!-- Card 5 -->
        <div
          class="h-full p-3 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
        >
          <div class="p-2 text-heading-1 flex justify-center">
            <img src={fullstackIcon} alt="WordPress Icon" class="w-8 h-8 mr-2" />
            <h2 class="md:text-lg font-bold text-heading-2 mb-2">
              Desarrollo Fullstack
            </h2>
          </div>

          <div>
            <Paragraph className="text-left h-20/100 pb-3 p-2">
              Diseñaremos un sitio web informativo sobre su empresa
            </Paragraph>
            <Paragraph className="h-3/4 text-heading-2 mt-3">
              - 5 cuentas de correo corporativo<br />
              - 4 Banners principales con movimiento<br />
              - 7 páginas de navegación internas (Inicio, Nosotros...)<br />
              - Diseño profesional, moderno y llamativo<br />
              - Sección Blog/Noticias<br />
              - Búsqueda y compra de imágenes<br />
              - Galeria de fotos y videos<br />
              - Carrusel de testimonios<br />
              - Formulario de contacto<br />
              - Botón de WhatsApp y de llamada<br />
              - Configuración de chatbot<br />
              - Integración con redes sociales<br />
              - Integración de Google Maps<br />
              - Integración con Google Analytics<br />
              - Contenido 100% Editable<br />
              - Diseño ideal para Google Ads<br />
              - 1 reunión de diseño de la página web<br />
              - 1 reunión de capacitación de uso de la página web
            </Paragraph>
          </div>

          <div class="text-center mt-6">
            <Paragraph className="text-center p-2">
              <b>Sin pago de mensualidad por administración</b>
            </Paragraph>
            <div class="mt-4">
              <Button variant={"primary"}>
                <a
                  href="/contact"
                  class="text-white font-semibold relative z-[5]"
                  >Quiero consultar</a
                >
              </Button>
            </div>
          </div>
        </div>
        <!-- Card 6 -->
        <!-- <div
          class="h-full p-3 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
        >
          <Paragraph className="pt-36 text-center">
            <img src={supportIcon} alt="WordPress Icon" class="w-8 h-8 mr-2" />
            <b class="text-2xl">Soporte Técnico</b>
          </Paragraph>

          <div class="pt-7 text-center pb-16 align-end">
            <div class="mt-4">
              <Button variant={"primary"}>
                <a
                  href="/contact"
                  class="text-white font-semibold relative z-[5]"
                  >Quiero consultar</a
                >
              </Button>
            </div>
          </div>
        </div> -->
      </div>
      <p class="pt-8 text-lg text-heading-3 lg:pb-2 lg:ml-10 text-left ml-2">
        <b>Todos incluyen:</b>
      </p>
      <Paragraph className="lg:pt-0 lg:ml-10 mt-3 ml-3">
        <span
          class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
          >&checkmark;</span
        > Hosting y Dominio por 1 año <br />
        <span
          class="mt-2 font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
          >&checkmark;</span
        > Certificado SSL<br />
        <span
          class="mt-2 font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
          >&checkmark;</span
        > Sitio protegido con Antivirus
      </Paragraph>
    </Container>
  </section>
</Layout>
